<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536892056043-cva1pg6sf3nk0vqa01ae3frsf1k47b71.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536892056043-cva1pg6sf3nk0vqa01ae3frsf1k47b71</string>
	<key>API_KEY</key>
	<string>AIzaSyAD5MqXOl-ztrZw7hgSLLpRJ5YaU-XjvOw</string>
	<key>GCM_SENDER_ID</key>
	<string>536892056043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-69aee</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-69aee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536892056043:ios:6d71505ddc25da4fbeb9ae</string>
</dict>
</plist>